%p#notice= notice

%p
  %b Title:
  = @dataset.title
%p
  %b Description:
  = @dataset.description
%p
  %b Creation date:
  = @dataset.createdate
%p
  %b Datasets:
  = @dataset.datasets[0]

= link_to 'Edit', edit_dataset_path(@dataset)
\|
= link_to 'Back', datasets_path
